@media screen and (min-width: 768px) {
    .ki-clm-3 {
        width: 33.33%;
        display: inline-block;
    }
    .ki-clm-2 {
        width: 50%;
        display: inline-block;
    }
    .header.nav {
        .logo {
            margin: 20px 0 0 17%;
            display: inline-block;
            margin-left: 30px;
        }
        .header__phrase {
            display: inline-block;
            color: #fff;
            position: absolute;
            bottom: 35%;
            left: 37%;
        }
        .header__medias {
            display: inline-block;
            margin: 20px;
            .icon-box {
                padding: 7px;
                background-color: #fff;
                border-radius: 5px;
                width: 30px;
                text-align: center;
                margin: 0 5px;
                border: 1px solid #2980b9;
                box-shadow: 1px 1px 5px #2980b9;
            }
            .fa-facebook {
                color: #36528f;
            }
            .fa-twitter {
                color: #00adf2;
            }
        }
    }
    .slider {
        .slider__primary-text {
            display: none;
        }
        .box__secondary-text,
        .box__primary-text {
            display: block;
            position: absolute;
            color: #fff;
            margin-left: 20px;
        }
        .slider__text {
            margin-left: 20px;
            bottom: 25%;
            left: 0;
            font-size: 14px;
        }
        .box__primary-text {
            bottom: 15%;
        }
        .box__secondary-text {
            bottom: 8%;
        }
    }
    .images {
        .box {
            padding: 0px 10px;
            &:last-child {
                padding-right: 0;
                padding-left: 20px .box__text {
                    margin-left: 20px;
                }
            }
            &:first-child {
                padding-right: 20px;
                padding-left: 0;
                .box__text {
                    margin-left: 0px;
                }
            }
            .box__text {
                margin-left: 10px;
            }
        }
    }
    .articles {
        article {
            &:nth-child(5),
            &:nth-child(3) {
                padding-left: 10px;
            }
            &:nth-child(2),
            &:nth-child(4) {
                padding-right: 10px;
            }
        }
    }
    .artiles-preview,
    .articles-bottom {
        float: left;
        width: 50%;
    }
    .artiles-preview .articles-preview__list li {
        padding: 20px 0;
    }
    .articles-bottom .box-image img {
        max-width: 180px;
    }
    .advertising {
        float: left;
        width: 50%;
    }
    .page-footer {
        clear: both;
        padding: 15px;
    }
    .page-footer__logo {
        display: inline-block;
    }
    .page-footer .page-footer__text {
        display: inline-block;
        width: 80%;
        padding: 20px;
    }
}

@media screen and (min-width: 992px) {
    .header.nav .header__medias {
        .icon-box span {
            display: inline;
            text-transform: uppercase;
            font-family: 'Helvetica', sans-serif;
            font-size: 11px;
            padding: 7px;
            position: relative;
            top: -1px;
        }
    }
    .header.nav .header__medias .icon-box {
        width: 100px;
        position: relative;
    }
    .fa-twitter+span {
        color: #00adf2;
    }
    .fa-facebook+span {
        color: #36528f;
    }
    .slider,
    .images,
    .articles,
    .artiles-preview,
    .articles-bottom,
    .advertising {
        padding: 10px 40px;
    }
    .slider__arrow {
        display: inherit;
        position: absolute;
        top: 40%;
        &.arrow--left {
            left: -25px;
        }
        &.arrow--right {
            right: 25px;
        }
    }
    .articles {
        &.ki-clm-2-3 {
            width: 66.6%;
        }
    }
    .advertising-middle {
        vertical-align: top;
        padding-top: 31px;
        text-align: right;
        padding-right: 40px;
        color: #ccc;
        &.ki-clm-3 {
            display: inline-block;
        }
    }
    .artiles-preview,
    .articles-bottom {
        width: 33.33%;
    }
    .artiles-preview {
        padding-right: 10px;
    }
    .articles-bottom {
        .first {
            padding: 10px 20px;
        }
        .second {
            padding-left: 0px;
        }
    }
    .advertising {
        display: none;
    }
}