@import "reset.less";
@import "variables.less";


body {
  font-family: 'Helvetica', sans-serif;
  background-color: @bkgColor;
  font-color: #526270;
  width: 100%;
  height: 100%;
}

.header {
  z-index: 999;

  &.nav {
    background-color: @headerColor;
    line-height: 0;
    position: fixed;
    width: 100%;
    height: 70px;

    .hamburguer-menu {
      position: absolute;
      top: 22px;
      left: 10px;
      height: 40%;
    }

    .logo {
      margin: 0 auto;
      height: ~"calc-webkit-calc(100% - 20px)";
      height: ~"calc(100% - 20px)";
      display: block;
      margin-top: 20px;
    }
  }
}

main {
  img {
    width: 100%;

  }
}

.box {
  position: relative;
  margin: 15px 0;

  .box__text {
    text-transform: uppercase;
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff ;
    font-size: 12px;
  }
}

.slider, .images, .articles, .artiles-preview {
  padding: 10px;
}

.slider {
  padding-top: 100px;
  position: relative;

  .slider__text {
    padding: 5px 60px 5px 20px;
    background-color: @bkgColotText;
  }


  .slider__bar {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;

    .fa {
      font-size: 12px;
      margin: 5px;
      color: #9a9a9a;
    }
    .active {
      color: @headerColor;
    }
  }

}

.images {
  .box__text {
    background-color: @bkgColorImage;
  }
}


.articles {
  h2 {
    font-weight: normal;
    margin-bottom: 10px;
  }
  article {
    border-bottom: 1px solid @borderColorArticle;
    padding-bottom: 10px;

    h3 {
      text-transform: uppercase;
      color: @fontColorArticle;
      padding: 5px 0;
      font-weight: normal;
    }
  }
}

.artiles-preview {
  h2 {
    font-weight: normal;
    color: @fontColorArticle;
    margin: 10px 0;
  }
  .articles-preview__list {
    li {
      padding: 12px 0;
      border-bottom: 1px solid @borderColorArticle;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}
